<div class="container">
  <div class="row">
    <div class="col">
      <h1>Learn Cypress</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="goToFormsPage()">
        Forms
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="goToListPage()">
        Lists
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary"
        (click)="goToNetworkRequestsPage()"
      >
        Network Requests
      </button>
    </div>
  </div>
</div>
