<div class="jumbotron">
  <h1 class="display-4">Learning Cypress!</h1>
  <p class="lead">
    This is a super simple Angular App that showcases how to use Cypress for
    your E2E testing!
  </p>
  <hr class="my-4" />
  <p>
    It includes a <span class="page">forms page</span>,
    <span class="page">lists page</span>, and a
    <span class="page">network requests page</span>. Check out the GitHub
    project for more info.
  </p>
  <p class="lead">
    <button type="button" class="btn btn-primary" (click)="goToContentPage()">
      Start Here
    </button>
  </p>
</div>
